.TodoSearch{
    background-color: #010101;
    height: 100%;
    width: 100%;
    .TextBox{
        background-color: #5a7a25;
        display: inline-block;
    }
    .AddButton{
        background-color: #813a8f;
        display: inline-block;
    }
}