.TodoList{
    background-color: transparent;
    //background-color: #702222;
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-direction: column; // control reverse orders at js
    // justify-content: flex-start;
    // align-items: center;
    overflow: auto;
    .TodoItem{
        background-color: transparent;
        //background-color: #6b7022;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3em; // fix to use em or rem
        width: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 1px;
        .ItemLabel{
            background-color: transparent;
            //background-color: white;
            //display: inline-block;
            width: 60%;
            max-width: 60%;
            height: 2.5em;
            line-height: 2.3em;
            margin-left: 10px;
            box-sizing: border-box;
        }
        .Controls{
            background-color: transparent;
            //background-color: rgb(36, 38, 155);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height:2.5em;
            width: 5em;
            //margin-right: 10px;
            margin-left: 10px;

            .EditButton{
                background-color: #249B81;
                display: inline-block;
                box-sizing: border-box;
                border: none;
                color: white;
                outline: none;
                cursor: pointer;
                font: inherit;
                height: 2em; 
                //padding: 10px;
                margin: 2px;
                //font-weight: bold;
            }
            .DeleteButton{
                background-color: #E44742;
                display: inline-block;
                box-sizing: border-box;
                border: none;
                color: white;
                outline: none;
                cursor: pointer;
                font: inherit;
                height: 2em; 
                //padding: 10px;
                margin-left: 2px;
                //font-weight: bold;
            }
        }
    }
}